﻿@{
    ViewBag.Title = "Customer";
}
<style>
    input#OSM {
        text-align: center;
        width: 40%;
        padding: 3px 3px 3px 3px;
        height: auto;
    }

    label#dsdepot {
        padding-top: 0px;
    }
</style>
<div class="card col-lg-12">
    <div class="card-header border-0 pt-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bolder fs-3 mb-1">Sender / Reciever / 3rd Party</span>
            @*<span class="text-muted mt-1 fw-bold fs-7">Over 500 orders</span>*@
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-1">
                <div class="form-check form-check-custom form-check-solid">
                    <input class="form-check-input" type="radio" value="" id="flexRadioChecked" checked="checked" />
                    <label class="form-check-label" for="flexRadioChecked">
                        Sender
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-check form-check-custom form-check-solid">
                    <input class="form-check-input" type="radio" value="" id="flexRadioChecked" checked="checked" />
                    <label class="form-check-label" for="flexRadioChecked">
                        Reciever
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-check form-check-custom form-check-solid">
                    <input class="form-check-input" type="radio" value="" id="flexRadioChecked" checked="checked" />
                    <label class="form-check-label" for="flexRadioChecked">
                        3rd Party
                    </label>
                </div>
            </div>
            <div class="col-lg-2" style="width:10% !important">
                <label for="rateschedule" class="form-label me-0 ">
                    Rates Schedule
                </label>
            </div>
            <div class="col-lg-2 ps-0">
                <select class="form-select form-select-sm" name="rateschedule" data-control="select2" data-placeholder="Select an option">
                    <option></option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label for="defaultschedule" class="col-form-label-sm float-end">Use Default Scheules if no customer rates found</label>
            </div>
            <div class="col-lg-1">
                <div class="form-check form-check-custom form-check-solid">
                    <input class="form-check-input input-sm" type="checkbox" value="" id="defaultschedule" checked="checked" />
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm float-end">Customer#</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control form-control-sm" placeholder="001" />
                    </div>
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm float-end">ABN</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control form-control-sm" placeholder="001 0000 0000" />
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm float-end">ACN</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control form-control-sm" placeholder="001 0000 0000" />
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm float-end">Name</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control form-control-sm" placeholder="001 Pvt Ltd" />
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm float-end">Street Addr#</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control form-control-sm" placeholder="No 001, West Lake view" />
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="form-label float-end"></label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control form-control-sm" placeholder="" />
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-2">
                        <input type="text" class="form-control form-control-sm disabled" value="" placeholder="PC" />
                    </div>
                    <div class="col-lg-6">
                        <select class="form-select form-select-sm" name="rateschedule" data-control="select2" data-placeholder="Select an option">
                            <option></option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control form-control-sm disabled" placeholder="VIC" />
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control form-control-sm disabled" placeholder="VIC" />
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm float-end">Mailing Addr#</label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control form-control-sm" placeholder="No 001, West Lake view" />
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm float-end"></label>
                    </div>
                    <div class="col-lg-10">
                        <input type="text" class="form-control form-control-sm" placeholder="" />
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-2 flex-column-fluid flex-center align-middle">
                        <input class="form-check-sm align-middle" type="checkbox" id="Asabove" />
                        <label class="form-check-sm" for="Asabove" style="font-size: 11px !important">
                            As Above
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <select class="form-select form-select-sm" name="rateschedule" data-control="select2" data-placeholder="Select an option">
                            <option></option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control form-control-sm disabled" placeholder="VIC" />
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control form-control-sm disabled" placeholder="VIC" />
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm float-end" style="font-size: 11px !important">Contact-freight</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control form-control-sm" placeholder="001" />
                    </div>
                    <div class="col-lg-1">
                        <label for="defaultschedule" class="col-form-label-sm float-end">A/C</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control form-control-sm" placeholder="001 0000 0000" />
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm float-end" style="font-size: 11px !important">
                            Date Started
                        </label>
                    </div>
                    <div class="col-lg-2" style="width:18%">
                        <input type="text" class="form-control form-control-sm" placeholder="00/01/0000" />
                    </div>
                    <div class="col-lg-2" style="width:15.2%">
                        <label for="defaultschedule" class="col-form-label-sm float-end">
                            A/C Phone
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control form-control-sm" placeholder="001 0000 0000" />
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm float-end" style="font-size: 11px !important">
                            Date Last Used
                        </label>
                    </div>
                    <div class="col-lg-2" style="width:18%">
                        <input type="text" class="form-control form-control-sm" placeholder="00/01/0000" />
                    </div>
                    <div class="col-lg-2" style="width:15.2%">
                        <label for="defaultschedule" class="col-form-label-sm float-end" style="font-size:11px!important">
                            Last Payment
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control form-control-sm" placeholder="00/01/0000" />
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm float-end" style="font-size:11px!important">
                            Credit Limit
                        </label>
                    </div>
                    <div class="col-lg-2" style="width:18%">
                        <input type="text" class="form-control form-control-sm" placeholder="$10000" />
                    </div>
                    <div class="col-lg-2" style="width:15.2%">
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-6 flex-column-fluid flex-center align-middle">
                        <input class="form-check-sm align-middle" type="checkbox" id="EFML" />
                        <label class="form-check-sm" for="EFML">
                            Exclude From Manifest Labels
                        </label>
                    </div>
                    <div class="col-lg-6 flex-column-fluid flex-center align-middle">
                        <input class="form-check-sm align-middle" type="checkbox" id="DCIDP" />
                        <label class="form-check-sm" for="DCIDP">
                            Download Customer into driver PDA
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-lg-3">
                        <label for="defaultschedule" class="col-form-label-sm">Open Time</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control form-control-sm" placeholder="08:00" />
                    </div>
                    <div class="col-lg-3">
                        <label for="defaultschedule" class="col-form-label-sm float-end">Close Time</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control form-control-sm" placeholder="00:00" />
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-12">
                        <label for="defaultschedule" class="col-form-label-sm"></label>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm" style="font-size:9px!important">Freight Payable By</label>
                    </div>
                    <div class="col-lg-4">
                        <select class="form-select form-select-sm" name="rateschedule" data-control="select2" data-placeholder="Select an option">
                            <option></option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <select class="form-select form-select-sm" name="rateschedule" data-control="select2" data-placeholder="Select an option">
                            <option></option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm" style="font-size: 11px !important">Phone</label>
                        <input type="text" class="form-control form-control-sm float-end" id="OSM" placeholder="OS" />
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control form-control-sm" placeholder="001 0000 0000" />
                    </div>
                    <div class="col-lg-1">
                        <label for="defaultschedule" class="col-form-label-sm float-end">Fax</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control form-control-sm" placeholder="001 0000 0000" />
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm" style="font-size: 11px !important">Mobile</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control form-control-sm" placeholder="" />
                    </div>
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm float-end" style="font-size: 11px !important">Prem Ref</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control form-control-sm" placeholder="" />
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm">Email</label>
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control form-control-sm" placeholder="" />
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn">
                            Alerts
                        </button>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-4">
                                <label for="defaultschedule" class="col-form-label-sm">Owner</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control form-control-sm" placeholder="" />
                            </div>
                        </div>
                        <div class="row pt-1">
                            <div class="col-lg-4">
                                <label for="defaultschedule" id="dsdepot" class="col-form-label-sm">Default Sender dep.</label>
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control form-control-sm" placeholder="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <h7 class="card-title" style=" text-align: center;" id="chr">Invoice Print order</h7>
                            <div class="card-body" style="padding: 1rem 1rem; ">
                                <div class="row">
                                    <div class="col-lg-6 flex-column-fluid flex-center align-middle">
                                        <input class="form-check-sm align-middle" type="checkbox" id="date" />
                                        <label class="form-check-sm" for="date">
                                            Date
                                        </label>
                                    </div>
                                    <div class="col-lg-6 flex-column-fluid flex-center align-middle">
                                        <input class="form-check-sm align-middle" type="checkbox" id="invref" />
                                        <label class="form-check-sm" for="invref">
                                            Inv. Num
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-lg-2">
                        <label for="defaultschedule" class="col-form-label-sm" style="font-size: 11px !important">Account Terms</label>
                    </div>
                    <div class="col-lg-4">
                        <select class="form-select form-select-sm" name="rateschedule" data-control="select2" data-placeholder="Select an option">
                            <option></option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <input class="form-check-sm align-middle" type="checkbox" id="SC" />
                        <label class="form-check-sm" for="SC">
                            Stop Credits
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</div>


