﻿
@{
    ViewBag.Title = "MenuMaster";
}
<style>
    div#kt_content_container {
        padding: 0px;
    }

    .card-header.border-0 {
        min-height: 45px !important;
    }
</style>
<div id="kt_content_container" class="container-xxl">
    <div class="card">
        <div class="card-header border-0" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
            <div class="card-title m-0">
                <h3 class="fw-bolder m-0">Menu Master</h3>
            </div>
        </div>
        <div id="kt_account_settings_profile_details" class="collapse show">
            <form id="kt_account_profile_details_form" class="form">
                <div class="card-body border-top p-9">
                    <div class="row mb-6">
                        <label class="col-lg-4  col-form-label-sm fw-bold">Parent Menu</label>
                        <div class="col-lg-8 fv-row">
                            <select name="currnecy" aria-label="Select a Parent Menu" data-control="select2" data-placeholder="Select a Parent Menu.." class="form-select form-select-solid form-select-sm">
                                <option value="">Select a Parent Menu..</option>
                                <option data-kt-flag="Null" value="Null">
                                    <b>Null</b>
                                </option>
                                <option data-kt-flag="Admin" value="Admin">
                                    <b>Admin</b>
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 fw-bold col-form-label-sm">
                            <span class="required">Display Name</span>
                            <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Menu display name"></i>
                        </label>
                        <div class="col-lg-8 fv-row">
                            <input type="text" name="displayname" class="form-control form-control-sm form-control-solid" placeholder="Display Name" value="" />
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label-sm fw-bold">Display Order</label>
                        <div class="col-lg-8 fv-row">
                            <input type="text" name="displayOrder" class="form-control form-control-sm form-control-solid" placeholder="Display Order" value="" />
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label-sm fw-bold">URL</label>
                        <div class="col-lg-8 fv-row">
                            <input type="text" name="url" class="form-control form-control-sm form-control-solid" placeholder="URL" value="" />
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label-sm fw-bold">Menu Icon</label>
                        <div class="col-lg-8">
                            <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url('~/assets/media/svg/avatars/blank.svg')">
                                <div class="image-input-wrapper w-125px h-125px" style="width:50px !important;height: 50px !important; background-image: url(~/assets/media/avatars/300-1.jpg)"></div>
                                <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change Menu">
                                    <i class="bi bi-pencil-fill fs-7"></i>
                                    <input type="file" name="Menu" accept=".png, .jpg, .jpeg" />
                                    <input type="hidden" name="Menu_remove" />
                                </label>
                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel Menu">
                                    <i class="bi bi-x fs-2"></i>
                                </span>
                                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove Menu">
                                    <i class="bi bi-x fs-2"></i>
                                </span>
                            </div>
                            <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
                        </div>
                    </div>
                    <div class="row mb-0">
                        <label class="col-lg-4 col-form-label-sm fw-bold">Status</label>
                        <div class="col-lg-8 d-flex align-items-center">
                            <div class="form-check-sm form-check-solid form-switch fv-row">
                                <input class="form-check-input form-check-sm" type="checkbox" id="status" checked="checked" />
                                <label class="form-check-sm" for="status"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <button type="reset" class="btn btn-light btn-active-light-primary me-2 btn-sm">Discard</button>
                    <button type="submit" class="btn btn-primary  btn-sm" id="kt_account_profile_details_submit">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

